<form class="detail-form" #form="ngForm">
  <h1>{{ name }} Details</h1>
  <div class="form-group">
    <app-image
      [tiltEnabled]="true"
      [width]="120"
      [height]="100"
      [url]="imageUrl"
    ></app-image>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input
      [ngModel]="name"
      class="form-control"
      name="name"
      id="name"
      required
    />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      [ngModel]="description"
      rows="3"
      class="form-control"
      name="description"
      id="description"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <div class="price">
      <input
        [ngModel]="price"
        type="text"
        id="price"
        name="price"
        required
        class="form-control price"
        onkeypress="return (event.charCode >= 48 && event.charCode <= 57) ||  event.charCode == 46 || event.charCode == 0 "
      />
    </div>
  </div>

  <app-button
    [title]="'Save'"
    [floatRight]="true"
    [disabled]="!form?.valid"
    (onButtonClicked)="onSave(form?.value)"
  >
  </app-button>
</form>
